.header {

    background-color: #DDDDDD;
    margin-bottom: 34px;
    // .header__inner

    &__inner {
        padding: 32px 39px 47px 25px;
    }

    // .header__from

    &__form {
        width: 100%;
    }

    // .header__from-inner

    &__form-inner {
        display: flex;
    }

    // .header__form-input

    &__form-input {
        width: 100%;
        height: 68px;
        padding: 14px 23px;

        border: 1px solid #A2A3A4;
        background-color: #fff;
    }

    // .header__form-btn

    &__form-btn {
        width: 74px;
        background-color: #00A3FF;
        border: none;
    }
}